body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    text-align: center;
    background-color: #f4f4f4;
    color: #333;
  }
  
  h1, h2, h3 {
    margin: 5px;
    color: #007BFF;
  }
  
  #dashboard {
    margin: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 10px;
  }
  
  .gauge-container {
    display: inline-block;
    margin: 20px;
  }
  
  .gauge {
    width: 200px;
    height: 150px;
  }
  
  .buttons-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  button,
  .action-button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    min-width: 180px;
    text-decoration: none;
    flex-shrink: 0;
  }
  
  button:hover,
  .action-button:hover {
    background-color: #0056b3;
    color: #fff;
  }
  
  .action-button {
    background-color: #007BFF;
    color: #fff;
  }
  
  .action-button:hover {
    background-color: #0056b3;
  }
  
  /* Media Query para pantallas más pequeñas, ajusta según sea necesario */
  @media screen and (max-width: 600px) {
    body {
      margin: 10px;
    }
  
    #dashboard {
      margin: 10px auto; /* Centrar el dashboard horizontalmente en dispositivos móviles */
    }
  
    .gauge-container {
      margin: 10px;
    }
  
    .gauge {
      width: 100%;
      height: auto;
    }
  
    .buttons-container {
      flex-direction: column;
    }
  
    button,
    .action-button {
      min-width: auto;
    }
  }
  